[run]
omit =
    /tmp/*
    *private*
    */local/*
    *venv*
    opnsense_cli/tests/*
    opnsense_cli/fixtures/*
    *output*
    /usr/lib/python*

[report]
exclude_lines =
    if __name__ == .__main__.:
