[run]
omit =
    /tmp/*
    *private*
    */local/*
    *venv*
    *tests/*
    *tests/fixtures/*
    *test_base.py
    *output*
    /usr/lib/python*

[report]
exclude_lines =
    if __name__ == .__main__.:
